 interfaces {
     ethernet eth0 {
         duplex auto
         smp-affinity auto
         speed auto
     }
     ethernet eth1 {
         address 172.31.0.2/16
     }
     ethernet eth2 {
         address 172.32.0.3/16
     }
     loopback lo {
     }
     tunnel tun0 {
         address 10.1.1.2/24
         encapsulation gre
         local-ip 172.32.0.3
         remote-ip 172.32.0.2
    }
 }
 protocols {
     static {
         interface-route 172.30.0.0/16 {
             next-hop-interface tun0 {
             }
         }
         interface-route 172.31.0.0/16 {
             next-hop-interface eth1 {
             }
         }
     }
 }
 service {
     dns {
     }
     ssh {
     }
 }
 system {
     config-management {
         commit-revisions 100
     }
     host-name vyos
     login {
         user vyos {
             authentication {
                 encrypted-password $6$oicsXPFvcEsy8.wb$yfycH/rcMMCk6HSHkEMdRj5S2pXodmNmHpAJ3eAh0HGViIn3Nc9v3U/RffE4MgHK6da.WmACnHTWytEoEc/PZ.
             }
         }
     }
     name-server 8.8.8.8
     ntp {
         server 0.pool.ntp.org {
         }
         server 1.pool.ntp.org {
         }
         server 2.pool.ntp.org {
         }
     }
     syslog {
         global {
             facility all {
                 level info
             }
             facility protocols {
                 level debug
             }
         }
     }
     time-zone UTC
 }
vpn {
    ipsec {
        esp-group MyESPGroup {
            proposal 1 {
                encryption aes128
                hash sha1
            }
        }
        ike-group MyIKEGroup {
            proposal 1 {
                dh-group 2
                encryption aes128
                hash sha1
            }
        }
        ipsec-interfaces {
            interface eth2
        }
        site-to-site {
            peer 172.32.0.2 {
                authentication {
                    mode pre-shared-secret
                    pre-shared-secret MYSECRETKEY
                }
                default-esp-group MyESPGroup
                ike-group MyIKEGroup
                local-address 172.32.0.3
                tunnel 1 {
                    protocol gre
                }
            }
        }
    }
}
/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "broadcast-relay@1:cluster@1:config-management@1:conntrack@1:conntrack-sync@1:dhcp-relay@2:dhcp-server@5:firewall@5:ipsec@5:l2tp@1:mdns@1:nat@4:ntp@1:pptp@1:qos@1:quagga@3:ssh@1:system@9:vrrp@2:vyos-accel-ppp@1:wanloadbalance@3:webgui@1:webproxy@1:zone-policy@1" === */
/* Release version: 1.2.0 */
